:root {
	--white: #fff;
	--black: #0b0b0b;
	--grey-text: #6d6d6d;
	--grey-stroke: #e6e6e6;
	--accent: #0096a5;
	--grey-text-on-white-bg: #949494;
	--grey-stroke-on-black: #232323;
	--third-family: "SFProText";
}
