body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 90px 16px 32px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	width: 100%;
	border-radius: 60px;
	padding: 40px;
	background: #f5f5f7;
	max-width: 520px;
	.lock & {
		visibility: visible;
	}
	@media (max-width: $mobile) {
		border-radius: 24px;
		padding: 24px 16px;
	}
}
.popup__close {
	position: absolute;
	top: toRem(46);
	outline: none;
	right: toRem(46);
	@media (max-width: $mobile) {
		top: toRem(29);
		right: toRem(21);
	}
}
//========================================================================================================================================================
.popup-feedback {
	&__title {
		margin-bottom: toRem(18);
		font-weight: 600;
		font-size: toRem(36);
		line-height: 110%;
		color: var(--black);
		@media (max-width: $mobile) {
			margin-bottom: toRem(10);
			font-size: toRem(28);
		}
		@media (max-width: toEm(340)) {
			font-size: toRem(24);
		}
	}
	&__text {
		margin-bottom: toRem(32);
		line-height: 130%;
		color: var(--black);
		@media (max-width: $mobile) {
			font-size: toRem(14);
			margin-bottom: toRem(24);
		}
	}
	&__form {
	}
}
