@font-face {
	font-family: SFProText;
	font-display: swap;
	src: url("../fonts/SFProText-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
