//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	padding: 20px 50px;
	min-height: 62px;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.02em;
	gap: toRem(10);
	text-align: center;
	color: var(--white);
	background-color: var(--accent-2);
	text-transform: uppercase;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&--white {
		background-color: var(--white);
		color: var(--black);
	}
}
