@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";
// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
@import "fonts/fonts";

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "SFUIDisplay";
$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: var(--white); // Колір шрифту за замовчуванням
// Палітра кольорів
@import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1360;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 32;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";
// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	background-color: #000;
	// scrollbar-gutter: stable;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	padding-bottom: env(safe-area-inset-bottom);
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-weight: 400;
	background: #000;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
.page {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100dvh;
	padding-bottom: toRem(80);
	@media (max-width: $mobile) {
		padding-bottom: toRem(60);
	}
	&__container {
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		position: relative;
	}
	// Показывать/скрывать при показывании меню contacts
	&.home::before {
		content: "";
		position: absolute;
		height: 100%;
		background: var(--accent);
		top: 0;
		transition: transform 0.6s ease-in-out 0s;
		right: 0;
		z-index: 10;
		transform: translate(200%, 0%);
		width: calc((100% - 1355px) / 2);
		@media (max-width: $pc) {
			width: toRem(17);
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	.contacts-menu-open &.home::before {
		transform: translate(0, 0);
	}
}
.inner {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding-bottom: toRem(67);
	padding-top: toRem(34);
}
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}
[class*="__container"] {
	@media (max-width: toEm(390)) {
		margin: 0;
	}
}
//======COMMON==================================================================================================================================================
.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 10px;
	transition: background-color 0.3s ease 0s;
	font-size: toRem(18);
	line-height: 133%;
	text-align: center;
	color: var(--black);
	background-color: var(--white);
	&[disabled] {
		opacity: 0.5;
		cursor: not-allowed;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #cecece;
		}
	}
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0px !important;
	width: 100%;
	display: block;
	padding-bottom: toRem(17);
	height: toRem(40);
	border-bottom: 1px solid rgb(255, 255, 255, 0.7);
	transition: border-bottom 0.3s ease 0s;
	color: var(--white);
	font-size: toRem(17);
	outline: none;
	&::placeholder {
		transition: opacity 0.3s ease 0s;
		color: #7fcad2;
		opacity: 0.8;
	}
	&._form-focus {
		border-bottom: 1px solid var(--white);
	}
	&._form-error {
		border-bottom: 1px solid #f0485c;
		color: #f0485c;
		@media (any-hover: hover) {
			&:hover {
				border-bottom: 1px solid #f0485c;
			}
		}
	}
	@media (any-hover: hover) {
		&:hover {
			border-bottom: 1px solid var(--white);
		}
	}
	&[disabled] {
		cursor: not-allowed;
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s ease 0s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
.webgl {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.5;
	left: 0;
	outline: none;
	img,
	video {
		transform: translate(-20%, 20%) rotate(15deg);
	}
}
//=======================================================================================================================================================
.header {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__top {
		display: flex;
		align-items: start;
		justify-content: space-between;
	}
	&__contact-button {
		display: inline-flex;
		align-items: center;
		margin-left: toRem(40);
		.loaded & {
			transition: all 0.3s ease 0s;
		}
		&-icon {
			margin-right: toRem(14);
			border-radius: 50%;
			background-color: var(--white);
			width: toRem(34);
			flex: 0 0 toRem(34);
			height: toRem(34);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			.loaded & {
				transition: background-color 0.3s ease 0s;
			}
			svg path {
				.loaded & {
					transition: all 0.3s;
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background: var(--accent);
				padding: toRem(2) toRem(13) toRem(2) toRem(2);
				.header__contact-button-icon {
					svg path {
						stroke: #fff;
						fill: var(--white);
					}
					background-color: var(--accent);
				}
			}
		}
	}
	&__logo {
		display: inline-block;
		max-width: toRem(128);
		img {
			max-width: 100%;
		}
	}
	&__bottom {
		padding-top: toRem(150);
		padding-right: toRem(350);
		@media (max-width: $mobile) {
			padding-right: toRem(270);
			padding-top: toRem(220);
		}
		@media (max-width: toEm(600)) {
			padding-right: 0;
			padding-bottom: toRem(120);
		}
	}
	&__main-button {
		border-radius: 50%;
		width: toRem(330);
		height: toRem(330);
		background: var(--white);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: toRem(24);
		text-align: center;
		color: var(--black);
		position: absolute;
		animation: rollAndFall 3.25s linear forwards;
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s,
			bottom 0.3s ease 0s,
			transform 0.3s ease 0s,
			margin 0.4s ease-in-out 0s;
		@media (max-width: $mobile) {
			width: toRem(250);
			height: toRem(250);
		}
		@media (max-width: toEm(600)) {
			width: toRem(200);
			height: toRem(200);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accent);
				color: var(--white);
			}
		}
	}
	@keyframes rollAndFall {
		0% {
			right: 100%;
			bottom: 270px;
			transform: rotate(0deg);
		}
		30% {
			bottom: 230px;
		}
		40% {
			transform: rotate(150deg);
			bottom: 170px;
		}
		50% {
			bottom: 170px;
		}
		70% {
			bottom: 170px;
			transform: rotate(290deg);
		}
		80% {
			right: -16px;
			bottom: 0;
			transform: rotate(370deg);
		}
		100% {
			right: 0;
			bottom: 0;
			transform: rotate(360deg);
		}
	}
	@media (max-width: toEm(1282.78)) {
		@keyframes rollAndFall {
			0% {
				right: 100%;
				bottom: 300px;
				transform: rotate(0deg);
			}
			30% {
				bottom: 300px;
			}
			40% {
				bottom: 250px;
			}
			48% {
				bottom: 240px;
			}
			55% {
				bottom: 0;
			}
			80% {
				right: -16px;
				bottom: 0;
				transform: rotate(370deg);
			}
			100% {
				right: 0;
				bottom: 0;
				transform: rotate(360deg);
			}
		}
	}
	@media (max-width: toEm(1200)) {
		@keyframes rollAndFall {
			0% {
				right: 100%;
				bottom: 220px;
				transform: rotate(0deg);
			}
			30% {
				bottom: 200px;
			}
			40% {
				transform: rotate(150deg);
				bottom: 150px;
			}
			50% {
				bottom: 150px;
			}
			70% {
				bottom: 150px;
				transform: rotate(290deg);
			}
			80% {
				right: -16px;
				bottom: 0;
				transform: rotate(370deg);
			}
			100% {
				right: 0;
				bottom: 0;
				transform: rotate(360deg);
			}
		}
	}
	@media (max-width: toEm(1107.78)) {
		@keyframes rollAndFall {
			0% {
				right: 100%;
				bottom: 260px;
				transform: rotate(0deg);
			}
			30% {
				bottom: 250px;
			}
			40% {
				bottom: 200px;
			}
			48% {
				bottom: 190px;
			}
			55% {
				bottom: 0;
			}
			80% {
				right: -16px;
				bottom: 0;
				transform: rotate(370deg);
			}
			100% {
				right: 0;
				bottom: 0;
				transform: rotate(360deg);
			}
		}
	}
	@media (max-width: toEm(818.78)) {
		@keyframes rollAndFall {
			0% {
				right: 100%;
				bottom: 350px;
				transform: rotate(0deg);
			}
			51% {
				bottom: 350px;
			}
			55% {
				bottom: 0;
			}
			80% {
				right: -16px;
				bottom: 0;
				transform: rotate(370deg);
			}
			100% {
				right: 0;
				bottom: 0;
				transform: rotate(360deg);
			}
		}
	}
	@media (max-width: $mobile) {
		@keyframes rollAndFall {
			0% {
				right: 100%;
				bottom: 280px;
				transform: rotate(0deg);
			}
			51% {
				bottom: 280px;
			}
			55% {
				bottom: 0;
			}
			80% {
				right: -16px;
				bottom: 0;
				transform: rotate(370deg);
			}
			100% {
				right: 0;
				bottom: 0;
				transform: rotate(360deg);
			}
		}
	}
	@media (max-width: toEm(738.78)) {
		@keyframes rollAndFall {
			0% {
				right: 100%;
				bottom: 380px;
				transform: rotate(0deg);
			}
			51% {
				bottom: 380px;
			}
			55% {
				bottom: 0;
			}
			80% {
				right: -16px;
				bottom: 0;
				transform: rotate(370deg);
			}
			100% {
				right: 0;
				bottom: 0;
				transform: rotate(360deg);
			}
		}
	}
	@media (max-width: toEm(600)) {
		@keyframes rollAndFall {
			0% {
				right: 100%;
				bottom: 0;
				transform: rotate(0deg);
			}
			80% {
				right: -100px;
				transform: rotate(400deg);
			}
			100% {
				right: 0;
				bottom: 0;
				transform: rotate(360deg);
			}
		}
	}
	&__title {
		font-family: var(--third-family);
		font-weight: 400;
		font-size: toRem(62);
		max-width: toRem(905);
		@media (max-width: toEm(1200)) {
			font-size: toRem(50);
		}
		@media (max-width: $mobile) {
			margin-bottom: toRem(30);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(40);
		}
		@media (max-width: toEm(340)) {
			font-size: toRem(38);
		}
	}
	&__background {
	}
	&__background-text {
		font-size: toRem(16);
		line-height: 137%;
		color: var(--grey-text);
		position: absolute;
		opacity: 0;
		transform: translate(-100%, 0px);
		@media (max-width: $mobile) {
			font-size: toRem(14);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(12);
		}
		&::before {
			content: "";
			height: 1px;
			position: absolute;
			background: var(--grey-stroke-on-black);
			bottom: -28px;
			transform: scale(0);
			@media (max-width: $mobile) {
				bottom: -10px;
			}
			animation: fromZeroToFullWidth 0.8s linear forwards 1.8s;
		}
		&--first {
			max-width: toRem(187);
			top: 15%;
			left: 38%;
			@media (max-width: $mobile) {
				left: 30%;
			}
			&::before {
				width: 427px;
				right: 0;
				@media (max-width: $mobile) {
					width: 300px;
				}
			}
			animation: fromZeroToFullWidthText1 0.75s linear forwards 1.3s;
		}
		&--second {
			max-width: toRem(427);
			top: 34%;
			margin-right: 16px;
			left: 55%;
			@media (max-width: $mobile) {
				top: 28%;
				left: 40%;
			}
			&::before {
				width: 610px;
				left: 0;
				@media (max-width: $mobile) {
					width: 300px;
				}
			}
			animation: fromZeroToFullWidthText2 0.75s linear forwards 1.7s;
		}
	}
	@keyframes fromZeroToFullWidth {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
	@keyframes fromZeroToFullWidthText1 {
		0% {
			opacity: 0;
			transform: translate(-100%, 0px);
		}
		100% {
			opacity: 1;
			transform: translate(0, 0px);
		}
	}
	@keyframes fromZeroToFullWidthText2 {
		0% {
			opacity: 0;
			transform: translate(-50%, 0px);
		}
		100% {
			opacity: 1;
			transform: translate(0, 0px);
		}
	}
}
//========================================================================================================================================================
.contacts {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: var(--accent);
	padding-left: toRem(40);
	padding-top: toRem(103);
	padding-bottom: toRem(81);
	max-width: toRem(467);
	flex-direction: column;
	overflow: auto;
	.loaded & {
		transition:
			transform 0.6s ease-in-out 0s,
			opacity 0s ease-in-out 0.6s,
			visibility 0s ease-in-out 0.6s;
	}
	transform: translate(200%, 0);
	opacity: 0;
	visibility: hidden;
	@media (max-width: $pc) {
		padding-top: toRem(80);
		padding-left: toRem(20);
	}
	@media (max-width: $mobile) {
		padding: toRem(40) toRem(16);
	}
	.contacts-menu-open & {
		transition:
			transform 0.6s ease-in-out 0s,
			opacity 0s ease-in-out 0s,
			visibility 0s ease-in-out 0s;
		transform: translate(0, 0);
		opacity: 1;
		visibility: visible;
	}
	&__close {
		width: toRem(40);
		height: toRem(40);
		right: 16px;
		top: 0;
		position: absolute;
		background-color: var(--white);
		display: inline-flex;
		transition:
			background-color 0.3s ease 0s,
			opacity 0s ease 0.6s,
			visibility 0s ease 0.6s,
			transform 0s ease 0.6s;
		justify-content: center;
		align-items: center;
		transform: translate(0, -100%);
		opacity: 0;
		visibility: hidden;
		.contacts-menu-open & {
			transition:
				background-color 0.3s ease 0s,
				opacity 1s ease-in-out 0.6s,
				visibility 1s ease-in-out 0.6s,
				transform 1s ease-in-out 0.6s;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
		svg path {
			transition: stroke 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--black);
				svg path {
					stroke: var(--white);
				}
			}
		}
	}
	&__title {
		margin-bottom: toRem(16);
		font-size: toRem(38);
		@media (max-width: $mobile) {
			font-size: toRem(30);
			margin-bottom: toRem(12);
		}
	}
	&__descr {
		font-size: toRem(16);
		line-height: 137%;
		color: #7fcad2;
		margin-bottom: toRem(34);
		transition: all 0s ease 0.6s;
		transform: translate(-100%, 0px);
		opacity: 0;
		visibility: hidden;
		.contacts-menu-open & {
			transition: all 1s ease-in-out 0.6s;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0px);
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: start;
		padding-right: toRem(39);
		@media (max-width: $pc) {
			padding-right: toRem(20);
		}
	}
	&__info-title {
		font-size: toRem(16);
		line-height: 137%;
		color: #7fcad2;
		margin-right: toRem(20);
		transition: all 0s ease 0.6s;
		transform: translate(-100%, 0px);
		opacity: 0;
		visibility: hidden;
		.contacts-menu-open & {
			transition: all 1s ease-in-out 0.6s;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0px);
		}
	}
	&__info-items {
		display: flex;
		flex-direction: column;
		align-items: start;
		transition: all 0s ease 0.6s;
		transform: translate(100%, 0px);
		opacity: 0;
		visibility: hidden;
		.contacts-menu-open & {
			transition: all 1s ease-in-out 0.6s;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0px);
		}
	}
	&__image {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: toRem(18);
		height: toRem(18);
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__info-item {
		display: flex;
		transition: opacity 0.3s ease 0s;
		gap: toRem(10);
		white-space: nowrap;
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
		line-height: 112%;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
.form-contacts {
	margin-bottom: toRem(40);
	@media (min-width: $tablet) {
		flex: 1 1 auto;
	}
	&__input {
		margin-bottom: toRem(29);
		position: relative;
		display: flex;
		flex-direction: column;
		&._form-error .form__error {
			opacity: 1;
			visibility: visible;
		}
		.form__error {
			color: #f0485c;
			font-size: toRem(14);
			position: absolute;
			transition: all 0.3s;
			bottom: -20px;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}
		transition: all 0s ease 0.6s;
		transform: translate(-100%, 0px);
		opacity: 0;
		visibility: hidden;
		.contacts-menu-open & {
			transition: all 1s ease-in-out 0.6s;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0px);
		}
	}
	&__label {
		margin-bottom: toRem(15);
		font-weight: 300;
		font-size: toRem(17);
		line-height: 129%;
	}
	&__agree-text {
		font-weight: 300;
		font-size: toRem(14);
		line-height: 157%;
		margin-bottom: toRem(36);
		a {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
		transition: all 0s ease 0.6s;
		transform: translate(-100%, 0px);
		opacity: 0;
		visibility: hidden;
		.contacts-menu-open & {
			transition: all 1s ease-in-out 0.6s;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0px);
		}
	}
	&__button {
		width: toRem(127);
		height: toRem(127);
		transition:
			background-color 0.3s ease 0s,
			opacity 0s ease 0.6s,
			transform 0s ease 0.6s,
			visibility 0s ease 0.6s;
		transform: translate(0, 300%);
		opacity: 0;
		visibility: hidden;
		.contacts-menu-open & {
			transition:
				background-color 0.3s ease 0s,
				opacity 1s ease-in-out 0.6s,
				transform 1s ease-in-out 0.6s,
				visibility 1s ease-in-out 0.6s;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}
}
//========================================================================================================================================================
.menu {
	padding-bottom: env(safe-area-inset-bottom);
	overflow: hidden;
	background-color: var(--white);
	color: #1b1e23;
	z-index: 50;
	position: fixed;
	width: 100%;
	//height: 100%;
	bottom: 0;
	top: calc(100% - 80px);
	left: 0;
	.loaded & {
		//transition: all 0.6s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	.menu-open & {
		transition: all 0.8s ease-in-out;
		top: 0;
	}
	@media (max-width: $mobile) {
		top: calc(100% - 60px);
	}
	&__container {
		position: relative;
		&::before {
			content: "";
			height: toRem(1);
			width: 0;
			left: -100%;
			bottom: 0px;
			position: absolute;
			background-color: var(--black);
			.loaded & {
				transition: all 0s ease-in-out 0.6s;
			}
			.menu-open & {
				transition: all 1.4s ease-in-out 0.8s;
				bottom: 0;
				width: 200vw;
			}
		}
	}
	&__nav {
		width: 100%;
		height: toRem(80);
		transition: all 0.4s ease-in-out;
		@media (max-width: $mobile) {
			height: toRem(60);
		}
	}
	&__icon {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		font-size: toRem(24);
		transition: color 0.3s;
		color: var(--black);
		&-svg {
			background-color: var(--black);
			justify-content: center;
			align-items: center;
			display: inline-flex;
		}
		&-open {
			border-radius: 50%;
			width: toRem(38);
			height: toRem(38);
			margin-left: toRem(15);
			transform: translate(0, 0);
			.loaded & {
				transition:
					background-color 0.3s ease-in-out 0s,
					opacity 0.2s ease-in-out 0.4s,
					transform 0.2s ease-in-out 0.4s,
					visibility 0.2s ease-in-out 0.4s;
			}
			.menu-open & {
				transition:
					background-color 0.3s ease-in-out 0s,
					opacity 0.2s ease-in-out 0s,
					transform 0.2s ease-in-out 0s,
					visibility 0.2s ease-in-out 0s;
				opacity: 0;
				transform: translate(0, 100%);
				visibility: hidden;
			}
		}
		&-close {
			width: toRem(40);
			height: toRem(40);
			position: absolute;
			top: -100%;
			right: 16px;
			.loaded & {
				transition:
					background-color 0.3s ease 0s,
					top 0s ease 0.4s;
			}
			.menu-open & {
				top: 0;
				transition:
					background-color 0.3s ease 0s,
					top 1.4s ease-in-out 0s;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--accent);
				.menu__icon-svg {
					background-color: var(--accent);
				}
			}
		}
	}
}
@media (any-hover: hover) {
	html:not(.menu-open) .header__main-button.active {
		margin: 0 0 20px 0;
	}
	html:not(.menu-open) .menu.active {
		top: calc(100% - 100px);
	}
	html:not(.menu-open) .menu.active .menu__nav {
		height: toRem(100);
	}
}
.spollers-menu {
	position: fixed;
	bottom: -100%;
	min-width: 100vw;
	width: 100%;
	left: 0;
	height: calc(100dvh - 80px);
	z-index: 100;
	overflow-x: auto;
	background-color: var(--white);
	display: flex;
	transition: all 0.4s ease-in-out 0s;
	.menu-open & {
		transition: all 1.2s ease-in-out 0.8s;
		bottom: 0;
	}
	@media (max-width: $mobile) {
		height: calc(100dvh - 60px);
		display: block;
	}
	&__item {
		@media (min-width: $mobile) {
			display: flex;
		}
		transition: all 0.4s ease-in-out 0s;
		&._spoller-active {
			opacity: 0;
			transform: translate(0px, 100%) !important;
			visibility: hidden;
		}
		.menu-open &._spoller-active {
			transition: all 0.8s ease-in-out 2.2s;
			opacity: 1;
			visibility: visible;
			transform: translate(0px, 0) !important;
		}
	}
	&__title {
		cursor: default;
		display: flex;
		min-width: toRem(93);
		//border-top: 0.5px solid var(--black);
		border-bottom: 1px solid var(--black);
		border-right: 0.5px solid var(--black);
		border-left: 0.5px solid var(--black);
		padding: toRem(32) toRem(16) toRem(43);
		position: relative;
		list-style: none;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		transition:
			padding 0s ease-in-out 0.4s,
			opacity 0s ease-in-out 0.4s,
			visibility 0s ease-in-out 0.4s,
			min-width 0s ease-in-out 0.4s,
			border 0s ease-in-out 0.4s;
		align-items: center;
		cursor: pointer;
		span {
			transition:
				color 0.3s ease-in-out 0s,
				font-size 0s ease-in-out 0.4s;
			font-weight: 500;
			font-size: toRem(18);
			color: var(--black);
		}
		span:last-child {
			font-weight: 400;
		}
		.menu-open & {
			transition:
				padding 0.4s ease-in-out 0s,
				opacity 0.4s ease-in-out 0s,
				visibility 0.4s ease-in-out 0s,
				min-width 0.4s ease-in-out 0s,
				margin-right 0.4s ease-in-out 0s,
				transform 0.4s ease-in-out 0s,
				border 0.4s ease-in-out 0s;
			span {
				transition:
					color 0.3s ease-in-out 0s,
					font-size 0.4s ease-in-out 0s;
			}
		}
		&._spoller-active {
			opacity: 0;
			visibility: hidden;
		   min-width: 0;
		//	transform: translate(93px,0px);
			padding: 0;
			border: none;
			span {
				font-size: 0;
			}
		}
		@media (min-width: $mobile) {
			span:first-child {
				writing-mode: vertical-rl;
				transform: rotate(180deg);
			}
		}
		@media (max-width: $mobile) {
			flex-direction: row;
			padding: toRem(16);
			//border-top: 0.5px solid var(--black);
			border-bottom: 0.5px solid var(--black);
			border-right: 1px solid var(--black);
			border-left: 1px solid var(--black);
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					color: var(--accent);
				}
			}
		}
	}
	&__body {
		width: 74.6vw;
		@media (min-width: $mobile) {
			height: 100%;
		}
		@media (max-width: $mobile) {
			width: 100%;
		}
	}
}
.project {
	height: 100%;
	display: flex;
	align-items: stretch;
	padding: toRem(32) toRem(33) toRem(52) toRem(33);
	overflow: auto;
	position: relative;
	scrollbar-width: thin;
	scrollbar-color: var(--black) rgba($color: #0b0b0b, $alpha: 0.1);
	background: #1b1e23;

	@media (max-width: $tablet) {
		padding: toRem(32) toRem(24);
	}
	@media (max-width: $mobile) {
		padding: toRem(24) toRem(16);
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}

	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background: rgba($color: #0b0b0b, $alpha: 0.1);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--black);
	}
	&-1 {
		background: #ffbc00;
		color: var(--black);
		.project__arrow-down {
			svg path {
				stroke: var(--black);
			}
		}
		.project__image {
			left: 24px;
			bottom: 20%;
		}
	}
	&-2 {
		background: #1b1e23;
		color: var(--white);
		.project__arrow-down {
			svg path {
				stroke: var(--white);
			}
		}
		.project__image {
			left: 0;
			bottom: 0;
		}
		scrollbar-color: var(--white) rgba($color: #fff, $alpha: 0.1);
		&::-webkit-scrollbar-track {
			background: rgba($color: #fff, $alpha: 0.1);
		}
		&::-webkit-scrollbar-thumb {
			background: var(--white);
		}
	}
	&__left {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		margin-right: toRem(30);
		@media (max-width: $mobile) {
			margin-right: toRem(20);
		}
	}
	&__right {
		flex: 0 0 29.6%;
		display: flex;
		flex-direction: column;
		padding-top: toRem(78);
		position: relative;
		z-index: 1;
		@media (max-width: $tablet) {
			padding-top: toRem(48);
		}
	}
	&__number {
		font-size: toRem(18);
		position: relative;
		z-index: 1;
		margin-bottom: toRem(16);
		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
	}
	&__title {
		font-weight: 500;
		font-size: toRem(62);
		flex: 1 1 auto;
		margin-bottom: toRem(16);
		position: relative;
		z-index: 1;
		@media (max-width: $tablet) {
			font-size: toRem(42);
		}
	}
	&__image {
		position: absolute;
		left: 16px;
		bottom: 20%;
		max-width: 50%;
		@media (max-width: $mobileSmall) {
			max-width: 100%;
			position: static;
			margin-bottom: toRem(16);
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__arrow-down {
		position: absolute;
		width: toRem(22);
		height: toRem(36);
		bottom: 67px;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, 0px);
		@media (max-width: $mobileSmall) {
			display: none;
		}
		animation: scrollArrowMoving 1.5s alternate infinite;
	}
	&__logo {
		position: relative;
		z-index: 1;
		img,
		svg {
			max-width: 100%;
		}
	}
	&__products {
		flex: 1 1 auto;
	}
	&__products-title {
		opacity: 0.4;
		margin-bottom: toRem(37);
		font-size: toRem(16);
		line-height: 150%;
	}
	&__products-list {
	}
	&__products-item {
		font-size: toRem(24);
		margin-bottom: toRem(34);
		@media (max-width: $mobile) {
			font-size: toRem(20);
			margin-bottom: toRem(24);
		}
		span {
			font-weight: 300;
			font-size: toRem(16);
			line-height: 150%;
			display: inline-block;
			margin-top: toRem(4);
		}
	}
	&__descr {
		font-weight: 300;
		font-size: toRem(16);
		line-height: 150%;
	}
}
@keyframes scrollArrowMoving {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(30px);
	}
}
//========================================================================================================================================================
.spm-country-name {
	color: black !important;
}
.spm-flag-button {
	top: 13px !important;
}
//========================================================================================================================================================
.notification {
	position: fixed;
	border-radius: 20px;
	background: var(--accent);
	position: fixed;
	bottom: 20px;
	left: 50%;
	z-index: 200;
	transform: translate(-50%, 0px);
	&--error {
		background: #f0485c;
	}
	&--success,
	&--error {
		padding: toRem(36);
		padding-right: toRem(86);
		width: toRem(500);
		@media (max-width: toEm(532)) {
			width: calc(100% - 32px);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(16);
			width: toRem(328);
			padding-right: toRem(56);
		}
		@media (max-width: toEm(359)) {
			width: calc(100% - 32px);
		}
		.notification__title {
			font-weight: 600;
			font-size: toRem(24);
			line-height: 110%;
			color: var(--white);
			margin-bottom: toRem(16);
			@media (max-width: $mobileSmall) {
				margin-bottom: toRem(12);
			}
		}
		.notification__text {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: toRem(18);
			line-height: 130%;
			color: var(--white);
			@media (max-width: $mobileSmall) {
				font-size: toRem(14);
			}
		}
	}
	&__content {
	}
	&__close {
		position: absolute;
		top: 36px;
		right: 36px;
		@media (max-width: $mobileSmall) {
			right: 21px;
			top: 21px;
		}
	}
}
//========================================================================================================================================================
.agreement {
	background-color: var(--white);
	color: var(--black);
	padding-top: toRem(40);
	padding-bottom: toRem(40);
	h1 {
		text-align: center;
		margin-bottom: 30px;
		line-height: 1.1;
		font-size: toRem(24);
	}
	h2 {
		margin-top: 30px;
		line-height: 1.1;
		font-size: toRem(18);
		margin-bottom: toRem(8);
	}
	p {
		margin-bottom: 15px;
		line-height: 1.1;
	}
}
//========================================================================================================================================================
